
{% block head %}
<title>New Post</title>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"> 
 

{% endblock%}

{% block body %}
 


<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#!">Jezz<span class= "h1-color">B</span>log</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="#top">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="/create">Create</a></li>
                
          

                <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                <li class="nav-item"><a class="nav-link" href="/me">About</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" id= "nav-item2"href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<h1>New Post</h1>
<hr>

<form action= "/create"method="POST">
    <label for="title">Title:</label>
    <input class="form-control" type="text" name="title" id="title" placeholder="Enter Title" aria-label="Enter Title">
    <br>
    <label for="slug">Slug:</label>
    <input class="form-control" type="text" name="slug" id="author" placeholder="Enter Subtitle"
        aria-label=" Enter Author">
        <br>
    <label for="author">Author:</label>
    <input class="form-control" type="text" name="author" id="slug" placeholder="Enter Author"
        aria-label=" Enter Author">
    <br>
    <label for="content">Content</label>
    <textarea class="form-control" id="content" name="content" placeholder="Enter Content" aria-label=" Enter Content"
        rows="3"></textarea>
    <br>
    
    <input type="submit" class="btn btn-success" value="Post">
</form>
<hr>
{% endblock%}

