{%block head%} 

<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"> 
{%endblock%}
{%block body%}
 <!-- Responsive navbar-->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#!">Jezz<span class= "h1-color">B</span>log</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="#top">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="/create">Create</a></li>
                
          

                <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                <li class="nav-item"><a class="nav-link" href="/me">About</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" id= "nav-item2"href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--content-->
<h1>Edit Post </h1>
    <hr>
    
    <form action="/edit/{{blog.id}}" method="POST">
        <label for="content">Title:</label>
        <input class="form-control" type="text" name="title" id="title" value="{{blog.title}}">
        <br>
        <label for="content">Slug:</label>
        <input class="form-control" type="text" name="slug" id="slug" value="{{blog.slug}}">
        
        <br>
        <label for="post">Content:</label>
        <textarea class="form-control" id="post" name="content" rows="3">{{blog.content}}</textarea>
        <br>
        <input type="submit" class ="btn btn-success" value="Save">
        
    </form>
    <hr>

{%endblock%}