{% block head %}
<title>About me</title>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"> 
 

{% endblock%}

{% block body %}
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#!">Jezz<span class= "h1-color">B</span>log</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="/create">Create</a></li>
                    <li class="nav-item"><a class="nav-link" href="/signup">Signup</a></li>
              

                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" id= "nav-item2"href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="desc">
     
        <h2 class="subheading">Hello I'm</h2>
        <h1 class="mb-4">Jessica Ovabor</h1>
        <p class="mb-4">I am a Backend engineering student at Alt school africa. This blog frontend was built using free templates from <a href ="themewagon.com" target="_blank"> themewagon </a> and few adjustment was done by me to suit it to my taste.
            This blog allows you to perform simple crud operation like you can edit a post , create a post and can delete a post you created.

        {%endblock%}
